{% extends 'index/index.html' %}


{% block headerIndex %}

    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-20">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Calculadora de ahorros</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock headerIndex %}


{% block bodyIndex %}
    <div class="container mb-5">
        <div class="container">
            <br>
            <a class="btn btn-primary" href="{% url 'create_calculator' %}">Crear calculo</a>
        </div>
        <div class="container">
            {% if calc %}
                {% for item in calc %}
                    <br>
                    Calculadora: {{ item.nombre }} <a class="btn btn-secondary" href="{% url 'graph' item.id %}">Ver grafico</a>  <a class="btn btn-secondary" href="{% url 'delete_calculator' item.id %}">Borrar calculadora</a><br>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock bodyIndex %}
