{% extends 'index/index.html' %}

{% load crispy_forms_tags %}

{% block headerIndex %}

<h1 class="display-5 fw-bolder text-white mb-2">Editar perfil</h1>

{% endblock headerIndex %}

{% block bodyIndex %}

    {% if msj %}
        {{msj}}
    {% endif %}

    <div class="container mt-2 mb-2">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action={% url 'editar_user' %} method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
            
                    {{ form|crispy }}

                    <button class="btn btn-success mt-2 mb-2">Guardar</button>

                </form>
            </div>
        </div>
    </div>

{% endblock bodyIndex %}