{% extends 'index/index.html' %}


{% block headerIndex %}

<h1 class="display-5 fw-bolder text-white mb-2">Login</h1>

{% endblock headerIndex %} 

{% block bodyIndex %}

    {% if msj %}
        {{msj}}
    {% endif %}
    
    <div class="form-control">
        <form  action="" method="POST">
            {% csrf_token %}
            
            <table>
                {{form.as_table}}
            </table>
            
            <button class="btn btn-primary">Loguearse</button>
        </form>
    </div>


{% endblock bodyIndex %}