{% extends 'index/index.html' %}

{% load crispy_forms_tags %}

{% block headerIndex %}

<h1 class="display-5 fw-bolder text-white mb-2">Registrarse</h1>

{% endblock headerIndex %}

{% block bodyIndex %}

    {% if msj %}
        {{msj}}
    {% endif %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <form action={% url 'registrar' %} method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-4 mb-4">
                        {{ form|crispy }}
                        <div class="col mt-2 mb-2">
                            <button class="btn btn-success">Registrarse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock bodyIndex %}