{% extends 'index/index.html' %}

{% load static %}

{% block headerIndex %}

<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-15">
            <div class="text-center my-10">
                <h1 class="display-5 fw-bolder text-white mb-2">Mensajes</h1>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock headerIndex %}



{% block bodyIndex %}


<div class="container mb-2">
    <div class="row justify-content-md-center mb-2">
        <div class="col w-25 mb-2 p-3 border">
                  
           
            
            {% for message in messages %}
            
            <a class="{% if active_direct == message.user.username %}is-active{% endif %}" href="{% url 'directs' message.user.username %}">
            <div class="container border shadow-sm p-2 mb-2 bg-body rounded">
                <div class="row">
                    <div class="col">
                        <figure class="image is-64x64 ">
                            {% if message.user.userextension.avatar %}
                            <img src="{{ message.user.userextension.avatar.url }}" alt="Placeholder image" height='70' class="rounded-3">
                            {% else %}
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" height='70' class="rounded-3">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="col">
                
                        <div class="content">
                        <p>
                            <strong>{{ message.user.first_name }} {{ message.user.last_name }}</strong> <small>@{{ message.user.username }}</small>
                        </p>
                        </div>
                
                        <div class="content">
                        {% if message.unread %}
                        <p style="font-weight: bold; color: red;">
                            <i class="material-icons">No leidos</i> {{ message.unread }}
                        </p>
                        {% endif %}        
                        </div>
                
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
            
                </ul>
                </aside>
            <br>
            <a href="{% url 'usersearch' %}" class="btn btn-primary">Nuevo mensaje directo</a>


        </div>
        <div class="col-8 p-3 mb-2 border">
            <div class="col p-2 mb-2">

                <div style="overflow-y: scroll; height: 500px">
                
                {% for direct in directs %}
                <div class="box shadow-sm p-2 mb-3 bg-body rounded ">
                  <article class="media">
                    <div class="media-left">
                    </div>
                    <div class="media-content ">
                      <div class="content">
                        <p>
                          <strong>{{ direct.sender.first_name }} {{ direct.sender.last_name }}</strong> <small>@{{ direct.sender.username }}</small> on: <strong><small>{{ direct.date|date:'N d G:i'}}</small></strong>
                        </p>
                        {{ direct.body }} 
                      </div>
                    </div>
                  </article>
                </div>
                {% endfor %}
                
                
                </div>
                
                
                <form role="form" method="POST" action="{% url 'send_direct' %}">
                  {% csrf_token %}
                <div class="row row-cols-auto">
                  <div class="col w-25 p-3">
                    <p class="image is-64x64">
                        {% if request.user.userextension.avatar %}
                        <img src="{{ request.user.userextension.avatar.url }}" alt="Placeholder image" height='70' class="rounded-3">
                        {% else %}
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" height='70' class="rounded-3">
                        {% endif %}
                    </p>
                  </div>
                <div class="col p-3">
                    <div class="col p">
                    <input type="hidden" name="to_user"  value="{{ active_direct }}">
                        <div class="field">
                        <p class="control">
                            <textarea class="textarea" name="body" placeholder="Escribi tu mensaje..."></textarea>
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                          <button type="submit" name="action" class="btn btn-dark btn-lg">Enviar</buttom>
                  </div>  
                  </div>
                
                </form>
                
                </div>
                </div>    



        </div>
    </div>
</div>




{% endblock bodyIndex %}
