{% extends 'index/index.html' %}


{% block headerIndex %}

    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-20">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Atencion!</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock headerIndex %}


{% block bodyIndex %}
<br>
<div class="form-group p-10">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col align-self-center">
                <form method="POST">
                    {% csrf_token %}
                    <h3>Estas seguro que deseas borrar la publicacion?</h3>
                    <button class="btn btn-primary">Borrar</button>
                </form>

            </div>        
        </div>
    </div>
</div>
<br>
<br>
{% endblock bodyIndex %}