{% extends 'index/index.html' %}


{% block headerIndex %}

<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white mb-2">Buscar post</h1>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock headerIndex %}



{% block bodyIndex %}

<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="" method="get">
                <div class="mb-3">
                    <label for="searchbar" class="form-label">Ingrese nombre del titulo:</label>
                    <input class="form-control" type="text" name="q" value="{{ request.GET.q }}">
                </div>
                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Buscar post">
                </div>    
            </form>
        </div>        
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            {% if object_list %}
            {% for post in object_list %}
            <div class="container mt-4 mb-4">
                Publicacion: <strong>{{post.titulo}}</strong> <a href={% url 'leer_post' post.pk %}>Ver publicacion</a></p>
            </div>
            
            {% endfor %}
            {% else %}
        
            <div class="container mt-4 mb-4">
                <div class="h4">No se encontro ningún resultado, intentelo nuevamente</div>
            </div>
        
            {% endif %}
        </div>
    </div>
</div>
    

{% endblock bodyIndex %}