{% extends 'index/index.html' %}


{% block headerIndex %}

    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-20">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Editar post</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock headerIndex %}


{% block bodyIndex %}

<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col">
            <form action="{% url 'editar_post' post.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            
                <table>
                    {{ form.media }}
                    {{ form.as_table }}
                </table>
            
            <input class="btn btn-primary" type="submit" placeholder="Guardar cambios">
            </form>
        </div>
    </div>
</div>

{% endblock bodyIndex %}
