{% extends 'index/index.html' %}

{% load static %}

{% block headerIndex %}

<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-10">
                <h1 class="display-5 fw-bolder text-white mb-2">{{post.titulo}}</h1>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock headerIndex %}



{% block bodyIndex %}

<div class='container'>
    <div>
        <br>
        <p>Autor: {{ post.autor.first_name }} {{ post.autor.last_name }}</p>
        <h2>{{ post.subtitulo }}</h2>
        <p><img src="{{post.imagen.url}}" height='300'></p>
        <p>{{ post.contenido | safe }}</p>
        <br>
        <p>Fecha de creacion: {{ post.fecha }}</p>
        <br>
    </div>
    <br>
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href={% url 'listado_posts' %}>Volver a listado</a>
    <br>
    <br>
</div>

{% endblock bodyIndex %}
