{% extends 'index/index.html' %}

{% load static %}

{% block headerIndex %}

<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-10">
                <h1 class="display-5 fw-bolder text-white mb-2">Sobre el blog y el autor</h1>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock headerIndex %}



{% block bodyIndex %}

<div class='container mt-4 mb-4'>
    <div class="row justify-content-center">
        <div class="col-6">
            <br>
            <h2>Blog de finanzas</h2>
            <br>

            <p>
                Blog dedicado a la finanzas y la independencia financiera. Abierto al debate y colaboracion
                por nuestro distintos usuarios.
            </p>
            <p>
                Soy un arquitecto recibido de la UNLP que decidio darle una oportunidad al mundo de la programacion
                y el desarrollo web. Entusiasta de las finanzas, las inversiones, la independencia financiera.
            </p>
            Por Pablo Marelli
            <br>
        </div>
        <div class="col-2">
            <img src={% static '/images/4x4 byn.jpg' %} height='250' class="rounded-3">
            <a class="btn btn-primary btn-lg mt-2 mb-2" href={% url 'index' %}>Volver a inicio</a>
        </div>
    </div>
</div>
{% endblock bodyIndex %}