{% extends 'index/index.html' %}

{% load static %}

{% block headerIndex %}

<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-10">
                <h1 class="display-5 fw-bolder text-white mb-2">Sobre el blog y el autor</h1>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock headerIndex %}



{% block bodyIndex %}

<div class='container'>
    <div>
        <br>
        <h2>Blog de finanzas</h2>
        <br>

        <p>
            Blog dedicado a la finanzas y la independencia financiera. Debate y colaboracion
            por distintos usuarios.
        </p>
        <p>
            Soy un arquitecto de la UNLP que decidio darle una oportunidad al mundo de la programacion
            y el desarrollo web. Entusiasta de las finanzas, las inversiones, la independencia financiera.
            Gracias Cristian, Maxi y Coder por todo.
        </p>
        Por Pablo Marelli
        <br>
        <br>
        <p>
            <img src={% static '/images/4x4 byn.jpg' %} height='250'>
        </p>
        
        <br>
    </div>
    <br>
    <br>
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href={% url 'index' %}>Volver a inicio</a>
    <br>
    <br>
</div>

{% endblock bodyIndex %}